.search_bar{
    /* height: 50px;
     */
     margin-left: 2%;
     /* width: 30vw; */
     height: 4em;
}
.hamburger{
    display: none;
}
.close{
    display: none;
}
@media screen and (min-width:300px) and (max-width:1025px) {
    .hamburger{
        display:block;
    }  
    .close{
        display: block;
        stroke-width: 5px;
    }
}